body {
    /*background-color: #ccc;*/
    font-family: arial, helvetica, sans-serif;
}

h1 {
    font-size: 20px;
}

td, th {
    text-align: center;
}

.img-fit-inline-by-height {
    display: inline;
    height: 15%;
}

.img-thumbnail:hover {
    /* taken from bootstrap3.3.6 .form-control:focus */
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.sebm-google-map-container {
    height: 100%;
}
