<div *ngIf="ticket" class="container-fluid">

    <div class="row">
        <div class="col-md-1">
            <ul class="nav nav-pills nav-stacked pager" data-spy="affix" data-offset-top="0">
                <li class="previous">
                    <a (click)="goBack()"><span aria-hidden="true">&larr;</span>
                        <span>Back</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <h1 class="well">Details for ticket id : {{ticket.id}}</h1>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Message</div>
                <div class="panel-body">{{ticket.message}}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Status</div>
                <div class="panel-body">
                    <select class="form-control" required (change)="onStatusChange($event.target.value)">
                        <option *ngFor=" let key of statusKeys" [value]="key">{{statuses[key]}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Location</div>
                <div class="panel-body" style="height: 45%;">
                    <sebm-google-map [latitude]="ticket.latitude" [longitude]="ticket.longitude" [zoom]="17"
                                     [scrollwheel]="false">
                        <sebm-google-map-marker [latitude]="ticket.latitude" [longitude]="ticket.longitude">
                            <sebm-google-map-info-window [disableAutoPan]="false" [isOpen]="true">
                                Todo: Reverse geocoding
                            </sebm-google-map-info-window>
                        </sebm-google-map-marker>
                    </sebm-google-map>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Users</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Images</div>
                <div class="panel-body" style="height: 20%;display: inline-block">
                    <span *ngFor="let imageUrl of imageUrls">
                        <a [href]="imageUrl">
                            <img class="img-thumbnail img-fit-inline-by-height" [src]="imageUrl"/>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>